<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<style>
			table {
				border: solid 1px;
				margin-top: 8px;
				margin-bottom: 8px;
			}
			th {
				border: solid 1px;
				background-color: #ffc0cb;
			}
			td {
				border: solid 1px;
			}
		</style>
	</head>
	<body>
		<h1>新規投稿画面</h1>
		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Message</th>
				<th>UpdateDate</th>
				<th>CreateDate</th>
			</tr>
			<tr>
				<!-- 初期データを表示 -->
				<?php foreach ($data as $row) { ;?>
			<tr>
				<?php foreach ($row as $item) {; ?>
				<td><?php echo $item; ?></td>
					<?php }; ?>
			</tr>
				<?php }; ?>
			</tr>
		</table>
		<form action="Controllers/add" method="post">
			<?php
				foreach ($data as $row) {
					foreach ($row as $item) {;
			?>
			<input type="hidden" name="data[]" value="<?php echo $item; ?>">
			<?php } }; ?>	 
			<p><label>Name: <input type="text" name="name" value=""></label></p>
			<p><label>Message: <input type="text" name="msg" value=""></label></p>
			<p><button type="submit" name="add" value="add">投稿</button></p>
		</form>
	</body>
</html>
